planta-docker/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8b360dad8e8d15e9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a37c9d30a2b9f7e",
        "type": "subflow",
        "name": "TCP-Controller-Server",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 320,
                "y": 320,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 320,
                "wires": []
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 500,
            "y": 160,
            "wires": []
        }
    },
    {
        "id": "8adcfea88b97a313",
        "type": "subflow",
        "name": "TCP-Controller-Client",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 280,
                "y": 140,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 500,
                "y": 140,
                "wires": []
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 380,
            "y": 140,
            "wires": []
        }
    },
    {
        "id": "c2b5ea2567270cf2",
        "type": "subflow",
        "name": "Controler",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 400,
                "y": 240,
                "wires": [
                    {
                        "id": "04c3b914430d2099"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 240,
                "wires": [
                    {
                        "id": "04c3b914430d2099",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 820,
            "y": 300,
            "wires": [
                {
                    "id": "04c3b914430d2099",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "2e26a22fadbee511",
        "type": "websocket-listener",
        "path": "/ws/teste",
        "wholemsg": "false"
    },
    {
        "id": "941b71e1ef8ad12b",
        "type": "subflow:4a37c9d30a2b9f7e",
        "z": "c2b5ea2567270cf2",
        "name": "",
        "x": 420,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "fad34540ac145d95",
        "type": "subflow:8adcfea88b97a313",
        "z": "c2b5ea2567270cf2",
        "name": "",
        "x": 420,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "04c3b914430d2099",
        "type": "function",
        "z": "c2b5ea2567270cf2",
        "name": "function 1",
        "func": "// Lógica de Controle Discreto\nvar Kp = 0.3;  // Ganho Proporcional\nvar r = 10;    // Referência desejada\nvar y = msg.payload;  // Saída atual\n\nvar e = r - y;  // Erro (diferença entre a referência e a saída)\nvar u = Kp * e;  // Valor de controle\n\nmsg.payload = u;  // Atualiza o payload com o valor de controle\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d48a60aa865a84f0",
        "type": "debug",
        "z": "c2b5ea2567270cf2",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "b3467ee9d7e778f3",
        "type": "inject",
        "z": "c2b5ea2567270cf2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 390,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d3a6c7caddb7711e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "G(s)",
        "func": "// Lógica de Transferência Discreta\nvar K = 0.5;  // Ganho\nvar y = K * msg.payload;  // Saída\n\nmsg.payload = y;  // Atualiza o payload com o valor de saída\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d0c7775662568f89",
        "type": "status",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "scope": null,
        "x": 735,
        "y": 260,
        "wires": [
            [
                "d3a6c7caddb7711e"
            ]
        ],
        "l": false
    },
    {
        "id": "03b50eda386a3001",
        "type": "status",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "scope": null,
        "x": 525,
        "y": 260,
        "wires": [
            [
                "7735ecac822c4e1d"
            ]
        ],
        "l": false
    },
    {
        "id": "7735ecac822c4e1d",
        "type": "subflow:c2b5ea2567270cf2",
        "z": "f6f2187d.f17ca8",
        "name": "C(s)",
        "x": 610,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "01a3bb635a2279f6",
        "type": "subflow:c2b5ea2567270cf2",
        "z": "f6f2187d.f17ca8",
        "name": "C(s)",
        "x": 550,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "93015ed7de6f833b",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 330,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "49ea6012f0554b9e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 540,
        "wires": []
    },
    {
        "id": "e973e2e3a74cc53a",
        "type": "websocket in",
        "z": "8b360dad8e8d15e9",
        "name": "websocket server",
        "server": "2e26a22fadbee511",
        "client": "",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "23669a32e76533a6"
            ]
        ]
    },
    {
        "id": "23669a32e76533a6",
        "type": "debug",
        "z": "8b360dad8e8d15e9",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 200,
        "wires": []
    }
]