artefatos/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4a37c9d30a2b9f7e",
        "type": "subflow",
        "name": "TCP-Controller-Server",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 320,
                "y": 320,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 320,
                "wires": []
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 500,
            "y": 160,
            "wires": []
        }
    },
    {
        "id": "8adcfea88b97a313",
        "type": "subflow",
        "name": "TCP-Controller-Client",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 280,
                "y": 320,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 320,
                "wires": []
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 380,
            "y": 160,
            "wires": []
        }
    },
    {
        "id": "c2b5ea2567270cf2",
        "type": "subflow",
        "name": "Controler",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 340,
                "y": 220,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 220,
                "wires": []
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "941b71e1ef8ad12b",
        "type": "subflow:4a37c9d30a2b9f7e",
        "z": "c2b5ea2567270cf2",
        "name": "",
        "x": 560,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "fad34540ac145d95",
        "type": "subflow:8adcfea88b97a313",
        "z": "c2b5ea2567270cf2",
        "name": "",
        "x": 540,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d3a6c7caddb7711e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "G(s)",
        "func": "// Função de Transferência: G(s) = 1.3885 * (20.223 / (s^2 + 3s + 20.223))\n\n// Parâmetros da função\nvar w_n = 4.4971;        // frequência natural amortecida\nvar zeta = 0.3346;       // coeciciente de amortecimento\nvar k = 1.3885;          // ganho natural do sistema\n\n// Entrada o sinal analógico\nvar input = msg.payload;\n\n// Cálculo da função de transferência\nvar s = (k * Math.pow(w_n, 2)) / (Math.pow(input, 2) + (2 * zeta * w_n * input) + Math.pow(w_n, 2));\n\n// Saída do sinal processado\nmsg.payload = s;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 360,
        "wires": [
            [
                "c62977941e702ea4",
                "7735ecac822c4e1d"
            ]
        ]
    },
    {
        "id": "c62977941e702ea4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 360,
        "wires": []
    },
    {
        "id": "e49413a60d5eee73",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "0f2214da524e065f"
            ]
        ]
    },
    {
        "id": "d0c7775662568f89",
        "type": "status",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "scope": null,
        "x": 735,
        "y": 260,
        "wires": [
            [
                "d3a6c7caddb7711e"
            ]
        ],
        "l": false
    },
    {
        "id": "03b50eda386a3001",
        "type": "status",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "scope": null,
        "x": 525,
        "y": 260,
        "wires": [
            [
                "7735ecac822c4e1d"
            ]
        ],
        "l": false
    },
    {
        "id": "0f2214da524e065f",
        "type": "trigger",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "7735ecac822c4e1d"
            ]
        ]
    },
    {
        "id": "7735ecac822c4e1d",
        "type": "subflow:c2b5ea2567270cf2",
        "z": "f6f2187d.f17ca8",
        "name": "C(s)",
        "x": 610,
        "y": 360,
        "wires": [
            [
                "d3a6c7caddb7711e"
            ]
        ]
    }
]